//Reusable classes;

.flex {
  display: flex;
}
.grid {
  display: grid;
}
.jc-c {
  justify-content: center;
}
.jc-e {
  justify-content: end;
}
.jc-s {
  justify-content: start;
}
.jc-sb {
  justify-content: space-between;
}
.ai-c {
  align-items: center;
}
.ai-e {
  align-items: end;
}
.ai-s {
  align-items: start;
}
.relative {
  position: relative;
}
.abs {
  position: absolute;
}
.circle {
  border-radius: 50%;
}
.pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}
.column {
  flex-direction: column;
}
.shadow {
  box-shadow: var(--shadow);
}

#transparent {
  color: transparent;
  width: fit-content;
}
.img-placeholder {
  display: block;
  width: 6rem;
  height: 6rem;
}
.loader {
  position: relative;
  margin: auto;
  width: 5rem;
  border-radius: 100vmin;
  overflow: hidden;
  padding: 1.25rem;

  &::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.circular {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  margin: auto;
  transform-origin: center center;
  animation: 2s linear 0s infinite rotate;
}

.path {
  stroke: var(--color-yellow);
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: 1.5s ease-in-out 0s infinite dash;
}
.delete {
  animation: delete 1s ease forwards;
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
    stroke: var(--color-yellow);
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

//
.notifs {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 2rem;
  right: 2rem;
  z-index: 1;
  gap:2rem;
}
.toast-container .message {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.toast-container {
  overflow: hidden;
  display: flex;
  position: relative;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg);
  width: 30rem;
  height: 7rem;
  padding: 2rem;
  border-radius: 8px;
  animation: slide-in 0.5s ease;
  box-shadow: var(--shadow);
}
.error::after {
  background-color: var(--color-red);
}
.success::after {
  background-color: var(--color-green-dark);
}
.warn::after {
  background-color: var(--color-yellow);
}

.toast-container::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: 0;
  left: -2px;
  border-radius: 8px;
  animation: toast-bar linear 4s forwards;
}

.icon-warn {
  font-size: 3rem;
  color: var(--color-yellow);
}
.icon-error {
  font-size: 3rem;
  color: var(--color-red);
}
.icon-success {
  font-size: 3rem;
  color: var(--color-green-dark);
}
.icon-close {
  display: none !important;
  color: var(--color-grey-light);
  cursor: pointer;
}
.toast-container:hover .icon-close {
  display: inline !important;
}

@keyframes toast-bar {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
    display: none;
  }
}
