//TypeScale
$text-size-xs: 1.024rem; /* 10.24px */
$text-size-sm: 1.28rem; /* 12.8px */
$text-size-md: 1.6rem; /* 16px */
$text-size-lg: 2rem; /* 20px */
$text-size-xl: 2.496rem; /* 24.96px */
$text-size-2xl: 3.12rem; /* 31.2px */
$text-size-3xl: 3.904rem; /* 39.04px */
$text-size-4xl: 4.88rem; /* 48.8px */
$text-size-5xl: 4.896rem; /* 48.96px */
